@using Toy.Utilit
@model Dictionary<string, string>
@{
    bool isModel = Model != null;
}
<div class="form-floating mt-2">
    <input type="password" class="form-control" required
           name="password" id="password" minlength="@StaticVariables.minPasswordLength" 
           maxlength="@StaticVariables.maxPasswordLength"
           title="@StaticVariables.passwordInfo">
    <label for="password">Пароль</label>
    @if (isModel && Model.ContainsKey("error-password"))
    {
        <span class="span-error">@Model["error-password"]</span>
    }
</div>