@model object[]
@{
    string Current = Model[0] as string;
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index"><img src="~/img/sign/home.png" alt="home sign" /></a></li>
        
        @if (Model.Length > 2)
        {
            string Section = Model[1] as string;
            string SectionControllerName = Model[2] as string;
            int SectionId = Convert.ToInt32(Model[3]);
            <li class="breadcrumb-item"><a asp-controller="@SectionControllerName" asp-action="Index" asp-route-id="@SectionId">@Section</a></li>
        }
        <li class="breadcrumb-item">@Current</li>
    </ol>
</nav>