@model short[]
@{
    short MaxAmount = Model[0];
}
<span class="choose-amount">
    <span class="delete-product">&ndash;</span>
    <span><output minValue="1" maxValue="@MaxAmount"> @(Model.Length > 1 ? Model[1] : 1)</output></span>
    <span class="add-product">+</span>
</span>