<div>Product Buy</div>
@* <form action="https://www.liqpay.ua/api/3/checkout" method="POST">
    <input type="hidden" name="public_key" value="sandbox_i86637046955" />
    <input type="hidden" name="action" value="pay" />
    <input type="hidden" name="amount" value="100" />
    <input type="hidden" name="currency" value="UAH" />
    <input type="hidden" name="description" value="Оплата за товар" />
    <input type="hidden" name="order_id" value="ORDER123" />
    <input type="hidden" name="version" value="3" />
    <input type="hidden" name="sandbox" value="1" /> <!-- Для тестового режиму -->
    <input type="submit" value="Оплатити через LiqPay" />
</form> *@

