@{
    ViewData["Title"] = "Home Page";
}
@* @model Dictionary<string, object>; *@
@* @await Html.PartialAsync("_MenuCategory", Model["Category"]) *@
@* <div class="d-flex">
    <div class="category pe-3">
        @if (@Model["Category"] != null)
        {
            @foreach (var category in (@Model["Category"] as List<Category>))
            {
                <div><a asp-controller="Category" asp-action="Index" asp-route-id="@category.Id">@category.Name</a></div>
            }
        }
    </div>
</div> *@